<div class = "container-fluid"></div>
  <div class = 'row'>
    <div class = "column" colspan = '4'>
      <table class = "table table-striped">
        <thead>
          <tr>
            <th class = "h5">#</th>
            <th class = "h5">Name</th>
            <th class = "h5">Channel</th>
            <th class = "h5">Seasons</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of series">
            <td>
              <dd>{{s.id}}</dd>
            </td>
            <td>
              <dd (click)='onSelected(s)'>{{s.name}}</dd>
            </td>
            <td>
              <dd>{{s.channel}}</dd>
            </td>
            <td>
              <dd>{{s.seasons}}</dd>
            </td>
        </tr>
        </tbody>
      </table>
      <table class = 'statistic'>
        <tr>
          Seasons average: {{promedioTemporadas}}
        </tr>
      </table>
    </div>
    <div class = 'column' colspan = '3'>
      <div *ngIf="selected">
        <app-serie-detail [serieDetail]="selectedSerie"></app-serie-detail>
      </div>
    </div>
  </div>
